# database vars (non-sensitive)
DATABASE_SERVER=localhost
DATABASE_PORT=5432
DATABASE_NAME=mydb
DATABASE_USER=myuser
DATABASE_PASSWORD=mypassword
DATABASE_URI=postgresql+psycopg://${DATABASE_USER}:${DATABASE_PASSWORD}@${DATABASE_SERVER}:${DATABASE_PORT}/${DATABASE_NAME}

OPENSEARCH_HOST=localhost